body {
    background-color: #35424a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.back-link {
    display: inline-block;
    font-size: 22px;
    background-color: white;
    color: #35424a;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.back-link:hover {
    text-decoration: none;
    background-color: #35424a;
    color: white;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

.contatti {
    margin: 15px;
    padding: 20px;
}

.contact-link {
    display: inline-block;
    font-size: 22px;
    background-color: white;
    color: #35424a;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.contact-link:hover {
    background-color: #35424a;
    color: white;
}
